html, div, body, article {
    margin: 0;
}

html {
    height: 100%;
    overflow: hidden;
    font-weight: 100;
}

body {
    font-family: museo, serif;
    font-weight: 300;
    font-style: normal;
}

svg.toppage-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    text-anchor: middle;
    font-family: museo, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 150px;
}

svg.toppage-wrap .textoutline {
    stroke: white;
    stroke-width: 4px;
    stroke-linejoin: round;
    fill: none;
}

svg.toppage-wrap .smalltext {
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 100;
    stroke: none;
    fill: white;
}

svg.toppage-wrap #textVLDB {
    letter-spacing: 15px;
}

svg.toppage-wrap #text2020 {
    letter-spacing: 25px;
}

svg.toppage-wrap #textTokyo {
    letter-spacing: -1px;
}

svg.toppage-wrap mask rect {
    fill: rgba(255, 255, 255, 0.6);
}

svg.toppage-wrap>rect {
    fill: #203744;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

#toppage-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1000;
}

#toppage-cnt {
    position: absolute;
    left: 0px;
    top: calc(100vh - 12vmin);
    height: 62vmin;
    width: 100vw;
}

#toppage-toggle:checked~#toppage-cnt {
    transform: translateY(calc(-100vh + 12vmin));
    transition: transform 0.8s cubic-bezier(.34, -0.29, .38, .8);
}

#toppage-toggle~#toppage-cnt {
    transform: translateY(0);
    transition: transform 0.8s cubic-bezier(.55, .02, .69, 1.15);
}

#scroll-cnt {
    position: relative;
    top: 0px;
    left: 50%;
    width: 10vmin;
    height: 12vmin;
    margin-left: -5vmin;
    color: white;
    cursor: pointer;
}

#toppage-contents {
    overflow-y: auto;
    height: calc(100vh - 12vmin);
}

#toppage-contents>article {
    background-color: #a22041;
    margin: auto;
    padding: 1.5vw;
    width: 90vw;
    max-width: 800px;
    color: white;
}

#toppage-contents>article>:nth-child(0) {
    margin-top: 0;
}

#toppage-contents>article>h1 {
    font-size: 24px;
    text-align:center;
}

#toppage-contents>article>h2 {
    font-size: 20px;
    background-color:#3b7960;
    padding:1.5vw 0px;
    text-align:center;
}

#toppage-contents>article>p {
    font-weight: 100;
    font-size: 20px;
    padding:0px 3vw;
    text-align: justify;
    text-justify:inter-word;
}
#toppage-contents>article>p>strong {
    font-weight: 500;
}

svg.scroll-btn>rect {
    fill: #a22041;
    fill-opacity: 0.9;
}

svg.scroll-btn>polyline {
    fill: none;
    stroke: white;
    stroke-width: 60px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

svg.scroll-btn>circle {
    fill: white;
    stroke: none;
}

svg.scroll-btn #dot1 {
    animation: bounce 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation-delay: 0s;
}

svg.scroll-btn #dot2 {
    animation: bounce 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation-delay: 0.1s;
}

svg.scroll-btn #dot3 {
    animation: bounce 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation-delay: 0.2s;
}

@keyframes bounce {
    from, to {
        transform: translateY(0px) scaleY(.98);
    }
    80% {
        transform: translateY(-100px) scaleY(1.02);
    }
}